modules = ["nodejs-20", "ruby-3.2"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["unixtools.netstat"]

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[workflows]
runButton = "React Native Clean"

[[workflows.workflow]]
name = "Web Dev"
author = 42226973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start-web"

[[workflows.workflow]]
name = "Run with Bun"
author = 42226973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run start"

[[workflows.workflow]]
name = "React Native Metro"
author = 42226973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx react-native start --host 0.0.0.0"

[[workflows.workflow]]
name = "React Native Clean"
author = 42226973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx react-native start --reset-cache --host 0.0.0.0"
