modules = ["nodejs-20", "ruby-3.2"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["unixtools.netstat"]

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[workflows]
runButton = "Start Expo Web"

[[workflows.workflow]]
name = "Web Dev"
author = 42226973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start-web"

[[workflows.workflow]]
name = "Start Expo Web"
author = 42226973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start-web"
